# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
out
gen
/dataset/unique_tracks.txt
__pycache__/
dataset/unique_tracks.txt
spark-warehouse/
static/
/dataset/msd-MAGD-genreAssignment.cls
dataset/msd-MAGD-genreAssignment.cls
/derby.log
/app.log
app.log
derby.log
doc/
metastore_db/
sparke-Java/src/main/resources/
/sparke-Java/spark-example.iml
dataset/jam_to_msd-new.tsv
dataset/msd-MAGD-genreAssignment-new.cls
dataset/train_triplets-new.txt
dataset/train_triplets.txtaa
sparke-Java/target/
dataset/rating.json
dataset/songs.json
dataset/tags.json
dataset/train_triplets-new.tsv
dataset/train_triplets.aa.tsv
dataset/unique_tracks.tsv
dataset/users.json
sparke-Java/src/test/java/com/services/
/.gitignore
/dataset/people.txt
/dataset/tasteDF.parquet/
/dataset/tagDF.parquet/
/dataset/songDF.parquet/
dataset/songDF.parquet/
dataset/tagDF.parquet/
dataset/tasteDF.parquet/
/dataset/
InitSpark.pyc
Recommendation.pyc
dataset/ADM/
dataset/archive/
dataset/unique_artists.txt
