# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
*.log
*.pyc
out
gen
__pycache__/
spark-warehouse/
sparke-Java/target/
/.gitignore
/dataset/
sparke-Java/src/main/resources/
sparke-Java/src/test/java/com/services/
/LICENSE
